# SWAPPING VARIABLES

In [1]:
a=int(input("enter the value:"))
b=int(input("enter the value:"))
print("\nBefore swapping")
print("a=",a)
print("b=",b)
temp=a
a=b
b=temp
print("\nAfter swapping")
print("a=",a)
print("b=",b)

Before swapping
a= 5
b= 10

After swapping
a= 10
b= 5

# SIMPLE CALCULATOR

In [4]:
num1=input("enter the first value:")
operator=input("enter the operator(+,-,*,/):")
num2=input("enter the second value:")

result=eval(num1+operator+num2)
print("result:",result)

result: 51015

# TYPE CONVERSION

In [6]:
num_str = input("Enter a number: ")
num_int = int(num_str)
num_float = float(num_str)
print(f"Integer value: {num_int}, Type: {type(num_int)}")
print(f"Float value: {num_float}, Type: {type(num_float)}")

Integer value: 5, Type: <class 'int'>
Float value: 5.0, Type: <class 'float'>

# QUADRATIC EQUATION

In [7]:
a=float(input("enter a:"))
b=float(input("Enter b: "))
c=float(input("Enter c: "))
D=b**2-4*a*c
D=complex(D,0)
sqrt_D=D**0.5
root1=(-b + sqrt_D) / (2*a)
root2=(-b - sqrt_D) / (2*a)
print("Root 1 =", root1)
print("Root 2 =", root2)

Root 1 = (-0.7499999999999999+1.1989578808281798j)
Root 2 = (-0.7500000000000001-1.1989578808281798j)

# Custom Data Type Formatter

In [8]:
name=str(input("enter the name:"))
age=int(input("enter the age:"))
height=float(input("enter the value:"))
print(f"Name:{name},age:{age}years,height:{height}cm")

Name:monika,age:20years,height:5.0cm

# Complex Expression Evaluator

In [9]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
result = ((num1 + num2) * num3) / (num1 - num2)
print("Result =", round(result, 2))

Result = -100.0

# Sum of Two Numbers

In [10]:
num1=int(input("enter first number:"))
num2=int(input("enter second number"))
sum=num1+num2
print("the sum of num1 and num2 is:",sum)

the sum of num1 and num2 is: 11

# Uppercase String

In [11]:
name=str(input("enter the name"))
uppercase=name.upper()
print("uppercase name is",uppercase)

uppercase name is MONIKA

# Square of a Number

In [13]:
num=int(input("enter the number"))
squrt=num**2
print("square of",num,"is",squrt)

square of 95 is 9025

# String Concatenation

In [16]:
a=str(input("enter the string:"))
b=str(input("enter the string:"))
c=a+b
print("string1:",a)
print("string2:",b)
print("concatenation:",c)

string1: heartly
string2: welcome
concatenation: heartlywelcome

# Float to Integer Conversion

In [18]:
float_num=float(input("enter the number:"))
int_num=int(float_num)
print("integer equivalent of",float_num,"is",int_num)

integer equivalent of 16.0 is 16

# Age Display

In [19]:
age=int(input("enter the age"))
print(f"you are {age} years old")

you are 20 years old

# Product of Two Numbers

In [20]:
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
product=num1*num2
print(f"product of {num1} and {num2} is {product}")

product of 4 and 9 is 36

# String Length

In [21]:
sentence=str(input("enter the sentence"))
length=len(sentence)
print("sentence:",sentence)
print(f"length of the given sentence is {length}")

sentence: I AM A GOOD GIRL
length of the given sentence is 16

#  Average of Three Numbers

In [22]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
average = num1+num2+num3/3
print("The average is:", average)

The average is: 66.66666666666667

# Absolute Value

In [25]:
num=int(input("enter the value:"))
absolute_value=abs(num)
print("the absolute value of",num,"is",absolute_value)

the absolute value of 5 is 5

# Difference of Two Numbers

In [26]:
num1=int(input("enter the first value:"))
num2=int(input("enter the second value:"))
difference=num1-num2
print("the difference between",num1, "and",num2,"is",difference)

the difference between 30 and 40 is -10

# String Reversal

In [28]:
text=str(input("Enter a string:"))
reversed_text= text[::-1]
print(text)
print("Reversed string:", reversed_text)

SHE IS LOOKING GORGEOUS
Reversed string: SUOEGROG GNIKOOL SI EHS

#  Height Conversion

In [29]:
height=float(input("enter the height:"))
converted_height=height/100
print("height in cm :",height)
print("height in meters :",converted_height)

height in cm : 5.0
height in meters : 0.05

# Quotient of Two Numbers

In [30]:
num1=int(input("enter the first value:"))
num2=int(input("enter the second value:"))
quotient=num1/num2
print("quotient of",num1,"and",num2,"is",quotient)

quotient of 56 and 67 is 0.835820895522388

# Quoted Name

In [32]:
name=str(input("enter the name"))
print(f'"name"')

"name"

# Formatted Number

In [34]:
number=float(input("enter the value:"))
result=round(number,2)
print("result of",number,"after rounding off to 2 decimal points is",result)

result of 10.0 after rounding off to 2 decimal points is 10.0

# String Separation

In [38]:
str1=str(input("enter the string:"))
str2=str(input("enter the string:"))
print(f"{str1} {str2}")

FANTASTIC  MORNING

# Type of Input

In [41]:
value=int(input("enter the value"))
result=type(value)
print(value)
print("type:",result)

9
type: <class 'int'>

# Sum and Product

In [42]:
num1=int(input("enter the first value:"))
num2=int(input("enter the second value:"))
num3=int(input("enter the third value:"))
sum=num1+num2+num3
product=num1*num2*num3
print(f"sum of numbers is {sum}")
print(f"product of numbers is {product}")

sum of numbers is 135
product of numbers is 85680