In [ ]:
2+2

:

In [1]:
2+2

4

In [2]:
15*31

465

I AM IN A MBUNIVERSITY.

NAME = "MONIKA"

name="monika"

In [3]:
name ="monika"
city ="chittoor"
age ="20"
address ="palluru vil and post,gudipala mandal,chittoor district"

Python has 10 datatypes 
-int (integer) -> for whole numbers
-float -> for real/scientific numbers
-bool (boolean) ->for True/false values
-none (nonetype) ->for specifying no values
-str (string) -> for textual values
-list -> for storing arrays and sequences
-tuple -> for unchangable arrays and sequences 
-set ->for unique sequences
-dict ->for storing key value data
-complex ->for complex numbers

In [1]:
x=5                                     #int
y=8.5                                   #float
z=10j                                   #complex
is_working = False                      #bool
is_empty = None                         #Nonetype
univ = "mohan babu university"          #str
colors =['red','black']                 #list
points = (1,4,5,9)                      #tuple
names = {"monika","manisha","sandhya"}  #set
info = {
    "NAME":"MONIKA",
    "DESIGNATION":"STUDENT",             #dictionary
    "DEPT":"MCA"
}

# Two types of variables 
1.Directly initialized x=10
2.dynamically calculated z=x*10

In [1]:
r=8  #cm
pi=3.14
circumference =2*pi*r

In [2]:
circumference

50.24

In [ ]:
# operators
-Assignment operator
-Arithmetic operator
-Comparision operator
-Logical operator
-Bitwise operator
-Membership operator

In [4]:
x=1000 # assignment
x-=500
x*=10
x/=2
x

2500.0

In [5]:
z=5

# arithmetic operator
+ addition
- subtraction
* multiplication
/ division
// int division
** exp
% mod

In [1]:
a = 10
b = 5
a+b

15

In [2]:
a-b
a*b
a/b
a//b
a%b

0

In [3]:
a-b

5

In [4]:
a*b

50

In [5]:
a/b

2.0

In [6]:
a//b

2

In [7]:
a%b

0

In [8]:
a**b

100000

# operator precedence
() 
**,*,/,//
+,-
=

In [9]:
2+10/2*5

27.0

In [10]:
x = (a+b) ** 2

In [11]:
per =5
base =4
(5**2 +4**2)** .5

6.4031242374328485

In [12]:
per =3
base =4
hyp = (per**2 + base**2)**.5  # math.sqrt(per**2 + base**2)will also work
hyp

5.0

In [19]:
x=10
3*x + 2*(x-1)

48

In [18]:
x=2+4+5+6+1+2+5+6
y=8
x/y

3.875

In [2]:
#comparision operator :<,<=,>,>=,==,!=

In [5]:
a =4
a<10

True

In [6]:
a=10
a>20

False

In [7]:
b=25
b<=30

True

In [8]:
x=100
1 <= x <= 100

True

In [9]:
x=100
1 < x < 100

False

In [10]:
y=50
y==50

True

In [11]:
# logical operator: AND OR NOT

In [12]:
x > y and x > a

True

In [13]:
not a

False

In [14]:
not (a==10)

False

In [1]:
for _ in range(5):
    print("this is a statement")

this is a statement
this is a statement
this is a statement
this is a statement
this is a statement

In [5]:
for _ in range(5):
    print("1")

1
1
1
1
1

In [6]:
for L in range(15):
    print("L")

L
L
L
L
L
L
L
L
L
L
L
L
L
L
L

In [7]:
for x in range(1,16):
    print("x")

x
x
x
x
x
x
x
x
x
x
x
x
x
x
x

In [8]:
a=5
b=10
for i in range(a,b):
    print(1)

1
1
1
1
1

In [11]:
x=int(input("enter start"))
y=int(input("enter stop"))
for i in range(x,y):
    print(x,y,i)

1 5 1
1 5 2
1 5 3
1 5 4

In [12]:
size=10
for i in range(1,size+1):
    print(f"12*{1}={12*i}")

12*1=12
12*1=24
12*1=36
12*1=48
12*1=60
12*1=72
12*1=84
12*1=96
12*1=108
12*1=120

loops 
for - step based loop
range()function

range(5)  0 1 2 3 4
range(6)  0 1 2 3 4 5
range(2,6) 2 3 4 5 6
range(10,14) 10,11,12,13,14
range()  error

range(1,10,2)  1 3 5 7 9
for i in range(1,20,2):      start stop step
print(i)

In [1]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [3]:
for i in range(0,15,5):
    print(i)

0
5
10

In [4]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [5]:
for num in range(100,201,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [16]:
for num in range(1,100,2):
    print(num,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [8]:
for num in range(100,201,2):
    print(num,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [10]:
for num in range(100,200,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [11]:
colors=['red','blue','peach']
print(colors)

['red', 'blue', 'peach']

# formatted output

In [12]:
for color in colors:
    print(color)

red
blue
peach

In [14]:
movies=['geeta govindam','arjun reddy','satamanam bavathi','lucky bhasker','100 % love','whistle','bommarillu','coolie','peta','8 vasantalu','taxiwala','gopala gopala']
print(movies)

['geeta govindam', 'arjun reddy', 'satamanam bavathi', 'lucky bhasker', '100 % love', 'whistle', 'bommarillu', 'coolie', 'peta', '8 vasantalu', 'taxiwala', 'gopala gopala']

In [15]:
for movies in movies:
    print(movies)

geeta govindam
arjun reddy
satamanam bavathi
lucky bhasker
100 % love
whistle
bommarillu
coolie
peta
8 vasantalu
taxiwala
gopala gopala

In [1]:
for i in range(-10,10,3):
    print(i,end=",")

-10,-7,-4,-1,2,5,8,

loop with conditions

syntax

for var in iterable:

if condition:
   statement
else:
   statement

In [2]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [5]:
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

#dispaly squares of even number

In [6]:
nums=[1,5,11,3,12,15]

for i in nums:
    if i%2==0:
        s=i**2
        print(s)
    else:
        print("odd number")

odd number
odd number
odd number
odd number
144
odd number

# display cubes of odd number

In [7]:
nums=[12,4,6,9,11,3]

for i in nums:
    if i%2!=0:
        s=i**3
        print(s)
    else:
        print("even number")

even number
even number
even number
729
1331
27

# calc the area by circle
# whose radius is given in list

In [9]:
radius=[3,5,6,11,10]
for r in radius:
     area=3.14*r**2
     print(f"area for {r} is {area}")

area for 3 is 28.26
area for 5 is 78.5
area for 6 is 113.04
area for 11 is 379.94
area for 10 is 314.0

In [12]:
Videogames=['ludo','candy crush','bubbleshoot','snake guard','temple run','free fire','pubg']

for name in Videogames:
    if name.startswith('l'):
        print(name)

ludo

In [15]:
Books=["the final empire","warbreaker","elantris","the well of ascension","the alloy of law","hero of ages","the way of kings"]

for Book in Books:
    if "The" in Book or "of" in Book:
        print(f"Book->{Book}")

Book->the well of ascension
Book->the alloy of law
Book->hero of ages
Book->the way of kings

In [1]:
total=0
for num in range(10,21):
    total=total+num
    print(total)

10
21
33
46
60
75
91
108
126
145
165

In [4]:
total=1
for num in range(10,20):
    total=total*num
    print(total)

10
110
1320
17160
240240
3603600
57657600
980179200
17643225600
335221286400

In [14]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num>m:
        m=num
print(m)

53

In [17]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for i in nums:
    if i%3==0:
        count=count+1
print(f"total count={count}")

total count=8

In [ ]:
nums=20,21,22,23,24,25,26,27,28,29,30
count=0
for i in nums:
    if i%2 == 0:
      count=count+1
print(f"total count ={count}")

total count =-6

movies

In [3]:
movies=["Harry potter","Fast and furious","robo","devera","idiot","d-block","kaithi","petta"]

movies_with_h =0
for movie in movies:
    if movie.startswith("H") or movie.startswith("d"):
        #long way-> movies_with_h = movies_with_h+1
        movies_with_h+= 1
        print("count",movies_with_h)

count 1
count 2
count 3

In [5]:
# factorial
num=5
fact=1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print(f'{i} *{fact}')
    fact=fact*i
print(fact)

5 *1
4 *5
3 *20
2 *60
1 *120
120

### Nested loop
for loop:
    for loop:
        for loop:

In [6]:
# loops total 10*5 =>50 times
for i in range(1,11):
    for j in range(1,6):
        print(f"i={i},j={j}")

i=1,j=1
i=1,j=2
i=1,j=3
i=1,j=4
i=1,j=5
i=2,j=1
i=2,j=2
i=2,j=3
i=2,j=4
i=2,j=5
i=3,j=1
i=3,j=2
i=3,j=3
i=3,j=4
i=3,j=5
i=4,j=1
i=4,j=2
i=4,j=3
i=4,j=4
i=4,j=5
i=5,j=1
i=5,j=2
i=5,j=3
i=5,j=4
i=5,j=5
i=6,j=1
i=6,j=2
i=6,j=3
i=6,j=4
i=6,j=5
i=7,j=1
i=7,j=2
i=7,j=3
i=7,j=4
i=7,j=5
i=8,j=1
i=8,j=2
i=8,j=3
i=8,j=4
i=8,j=5
i=9,j=1
i=9,j=2
i=9,j=3
i=9,j=4
i=9,j=5
i=10,j=1
i=10,j=2
i=10,j=3
i=10,j=4
i=10,j=5

In [7]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(j,end='')
print()

1234512345123451234512345

In [10]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(i,end='')
    print()

11111
22222
33333
44444
55555

In [ ]:
from turtle import *
speed ('slowest')
pencolor("red")
pensize(3)

side =6
for i in range(side)