In [29]:
#Function&modules
n=input('enter value')
if int(n)%2==0:
    print('even')
else:
    print('odd')

odd

functions are divided into 2 types:
 user defined
 pre defined function:
                 1.print()
                 2.input()
                 3.str()
                 4.len()
based on function i/o,4 types of function
1.logic(closed function)
2.parameterized function
3.function returning value
4.parameterized+value returning function

In [1]:
def total (a,b,c):
  ans=a+b+c
  print(f'total = {ans}')

In [2]:
total(10,20,30)

total = 60

In [3]:
total(1,15,13)

total = 29

In [4]:
def mul(a,b):
    print(a*b)

In [5]:
mul(2,3)

6

In [6]:
mul(15,175)

2625

In [7]:
mul(5,15)

75

def hyp(p,b):ans=maths.sqrt(p2+b2)return ans hyp(10,5)

In [8]:
def is_even(num):
     if num%2==0:
        return True
     else:
        return False
is_even(25)

False

In [9]:
x = int(input("enter a num"))
if is_even(x):
    print("good job")
else:
    print("you are strict")

good job

# required parameter

In [10]:
def area(I,b):
    return I*b
ans= area(10,5)
print(ans)

50

# named parameter calls

In [11]:
res=area(I=5,b=13)
print(res)
def si(p,r,t):
    return p*r*t/100
intrest=si(p=10000,r=3.3,t=5)
print(intrest)

65
1650.0

# default parameter

In [12]:
def power(n,e=2):
    return n**e
print(pow(10,3))
print(pow(10,5))

1000
100000

In [13]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(10)

10

In [14]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(5,4)

9

In [15]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(2,3,5)

10

In [16]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(a=10,c=10,d=2)

22

In [17]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(5,4,3,2)

14

In [23]:
def h1():
    print("hola")
    h1()
def ctof(val):
    f=(val*9/5)+32
    return f

In [20]:
# definition

def greeting():
     print("üåü"*5)
     print("good morning")
     print("üåü"*5)
greeting()

üåüüåüüåüüåüüåü
good morning
üåüüåüüåüüåüüåü

In [24]:
def dice_roll():
    import random
    out={1:'üëç',2:'‚úåÔ∏è',3:'üëå',4:'‚úã',5:'üëë'}
    value=random.randint(1,5)
    return out.get(value)
print(dice_roll())
print(dice_roll())
print(dice_roll())
print(dice_roll())
print(dice_roll())

üëå
üëç
üëå
üëç
üëç

In [25]:
def is_valid_password(pwd):
    if len(pwd) < 8: return False
    if not pwd.isalnum():return False
    return True
print(is_valid_password("hello"))
print(is_valid_password("helloworld"))
print(is_valid_password("helloworld10"))
print(is_valid_password("3120@1233"))

False
True
True
False

In [26]:
def area(length: int,breadth:int)-> int:
    return length * breadth

l = 12
b = 15
a= area(l,b)
print(f'area = {a}')

area = 180

In [27]:
def cleanText(data,to_remove="@$%"):
    newdata= data
    for char in to_remove:
        newdata= newdata.replace(char,'')
    return newdata  

cText= cleanText("he#ll#o@",to_remove='##@')
print(cText)
cText2=cleanText("h@!()#!)@i",to_remove='@!#()')
print(cText2)

hello
hi

In [28]:
def add100(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z):
    return a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p+q+r+s+t+u+v+w+x+y+z
add100(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1)

26

# variables arguments in python

A  function can have variable arguments in python using* symbol before a paramter in the function definition.
this allows the function to accept any number of positionala arguments as a tuple.

In [1]:
def multiplier(*numbers):
    result =1
    for value in numbers:
        result*=value
    return result

print(multiplier())
print(multiplier(2,3,4))
print(multiplier(2,3,4,3,5,6,1,2,2,5,56,2))

1
24
4838400

In [3]:
def operate(*args,operator="*"):
    if operator =='*':
        result =1
        for num in args:
            result*=num
        return result
    elif operator == '+':
        result=0
        for num in args:
            result+=num
        return result
    else:
        return "wrong operator give ,please provide + or  *"
print(operate(1,2,3,4))
print(operate(1,2,3,4,operator='+'))
print(operate(1,2,3,4,operator='-'))

24
10
wrong operator give ,please provide + or  *

# anonymous functions in python

anonymous functions also known as lamda functions

In [4]:
f=lambda x:x*2 +10
print(f)

<function <lambda> at 0x000001F4D8034900>

In [5]:
print(f(12))
print(f(5))
print(f(10))

34
20
30

In [6]:
print(f(2))
print(f(5))
print(f(7))

14
20
24

# generators or lazy functions

special type of function that will not evaluate and return all values at once instead it wwill return one value at a time and only requested.

In [7]:
for i in range(1,6): print(i)
print(list(range(1,10)))

1
2
3
4
5
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
def squared (data):
    for i in data:
        yield i**2

for num in squared([2,3,3,5,6,7]):
    print("square",num)  

    print(list(squared([22,33,55])))

square 4
[484, 1089, 3025]
square 9
[484, 1089, 3025]
square 9
[484, 1089, 3025]
square 25
[484, 1089, 3025]
square 36
[484, 1089, 3025]
square 49
[484, 1089, 3025]