# variables arguments in python

A  function can have variable arguments in python using* symbol before a paramter in the function definition.
this allows the function to accept any number of positionala arguments as a tuple.

In [1]:
def multiplier(*numbers):
    result =1
    for value in numbers:
        result*=value
    return result

print(multiplier())
print(multiplier(2,3,4))
print(multiplier(2,3,4,3,5,6,1,2,2,5,56,2))

1
24
4838400

In [3]:
def operate(*args,operator="*"):
    if operator =='*':
        result =1
        for num in args:
            result*=num
        return result
    elif operator == '+':
        result=0
        for num in args:
            result+=num
        return result
    else:
        return "wrong operator give ,please provide + or  *"
print(operate(1,2,3,4))
print(operate(1,2,3,4,operator='+'))
print(operate(1,2,3,4,operator='-'))

24
10
wrong operator give ,please provide + or  *

# anonymous functions in python

anonymous functions also known as lamda functions

In [4]:
f=lambda x:x*2 +10
print(f)

<function <lambda> at 0x000001F4D8034900>

In [5]:
print(f(12))
print(f(5))
print(f(10))

34
20
30

In [6]:
print(f(2))
print(f(5))
print(f(7))

14
20
24

# generators or lazy functions

special type of function that will not evaluate and return all values at once instead it wwill return one value at a time and only requested.

In [7]:
for i in range(1,6): print(i)
print(list(range(1,10)))

1
2
3
4
5
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
def squared (data):
    for i in data:
        yield i**2

for num in squared([2,3,3,5,6,7]):
    print("square",num)  

    print(list(squared([22,33,55])))

square 4
[484, 1089, 3025]
square 9
[484, 1089, 3025]
square 9
[484, 1089, 3025]
square 25
[484, 1089, 3025]
square 36
[484, 1089, 3025]
square 49
[484, 1089, 3025]