In [1]:
name="monika"
city="chittoor"

In [2]:
name

'monika'

In [6]:
name= input()

In [7]:
pythogaras()

NameError: name 'pythogaras' is not defined

In [8]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

In [10]:
name = input()

In [11]:
len()

TypeError: len() takes exactly one argument (0 given)

In [12]:
name = input()
city = input()
address= input()
print(name,city,address)

monika,chittoor,pallur monika,chittoor,palluru monika,palluru ,chittoor

In [14]:
name = input("enter name =>")
city = input("enter city =>")
address = input("enter address =>")
print(name,city,address)

manisha,chennai,chittoor

In [15]:
a=10
b=20
c=a+b
print(a,b,c)

10 20 30

In [16]:
#dynamic
a=input("Enter A:")
b=input("Enter B:")
c=a+b
print(a,b,c)

25,50  25,50

In [17]:
25+50

75

In [19]:
radius=float(input("enter radius of the circle"))
diameter=radius*2
circumference=2*3.14*radius
area=3.14*radius**2

print(radius)
print(diameter)
print(circumference)
print(area)

16.0
32.0
100.48
803.84

In [26]:
#simple interest
p =int(input("enter principal amount")) 
t =int(input("enter time period in years"))
r =float(input("enter rate of intrest "))
si = p*t*r/100
print(p)
print(t)
print(r)
print(si)

500
5
6.0
150.0

In [27]:
pi =3.14
r =float(input("enter radius of cylinder"))
h =float(input("enter height of cylinder")) 
v = pi*r**2*h #volume of cylinder
print(v)

127044.40000000001

formatting the output

In [29]:
print("This is an example")        # displaying a message
print("one","two","three")          # display multiple data value
print("1","2","3","4","5")           # display multiple data and expression
print(10 * 2 + 5)                     # display result of expression
print("papaya","banana")     # display multiple data with seprator
print("hate you")

This is an example
one two three
1 2 3 4 5
25
papaya banana
hate you

In [1]:
print("Happy Birthday to my heart ")
print("Be happy forever and ever")
print("you can achieve and everything")

Happy Birthday to my heart
Be happy forever and ever
you can achieve and everything

In [2]:
print("5","16","22","23")

5 16 22 23

In [4]:
print(1,2,3,4,5)
print(1,2,3,4, sep="")
print(1,2,3,4,5,6, sep=',')
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5,6, sep="hello world\n")

1 2 3 4 5
1234
1,2,3,4,5,6
1
2
3
4
5
1hello world
2hello world
3hello world
4hello world
5hello world
6

In [14]:
a=100
b=30
c=a+b
print(c)
print("answer = "+str(c))
print("answer:",c)
print("answer %d"%c)                        # not the best way
print("%d + %d => %d"%(a,b,c))             #it is very complicated
print("answer {}".format(c))                # old way
print("{} + {} = {}".format(a,b,c))         # old way

130
answer = 130
answer: 130
answer 130
100 + 30 => 130
answer 130
100 + 30 = 130

In [15]:
# final actual way of format output using f-strings

In [16]:
a=100
b=30
c=a+b
print(f"answer {c}")
print(f"{a} + {b} = {c}")    #f-string/formattable

answer 130
100 + 30 = 130

In [17]:
print(f'we get {c},when we add {a} and {b}')

we get 130,when we add 100 and 30

In [22]:
name = "moni"
job = "software"
company = "Infosys"
print(f" my name is {name},I work as a {job} in {company}.")

 my name is moni,I work as a software in Infosys.

In [23]:
p=20
b=10
h = (p**2 + b**2)**.5
print("calculation of hypotenuse")
print(f"perpendicular => {p}")
print(f'base => {b}')
print("based on pythagoras theorem :")
print(f"hypotenuse => {h}")

calculation of hypotenuse
perpendicular => 20
base => 10
based on pythagoras theorem :
hypotenuse => 22.360679774997898