In [1]:
f= lambda x: x*2 + x + 10
print(f(5))

25

In [3]:
print(f(10))
print(f(30))
print(f(2) + 210)

40
100
226

In [6]:
g= lambda x,y :x*y +10 - y**2
g(12,5)

45

In [7]:
area_of_circle = lambda r:22/7 * r ** 2

In [8]:
area_of_circle(5)

78.57142857142857

In [9]:
x=[1,2,3,5]   # data
x2=[i**2 for i in x]  # comprehension

### DATA PROCESSING FUNCTIONS

map():same operations applied on all elements
map(function,*iterable)
filter(): select elements based on condition
filter(bool_func,*iterable)

In [10]:
map(int,['1','3','5','10'])

In [11]:
# simple extraction from map using loop

for num in map(int,['1','3','5','10']):
    print(num)

1
3
5
10

In [14]:
for ascii_code in map(ord, ['A' , 'b', 'C', 'd']):
    print(ascii_code, end='  ')

65  98  67  100

In [15]:
list(map(ord, ['A','b','C','d']))

[65, 98, 67, 100]

In [17]:
list(map(round, [12.34, 1.3333, 23.12312312]))

[12, 1, 23]

In [18]:
tuple(map(round, [12.34, 1.33333, 23.12312312]))

(12, 1, 23)

In [19]:
set(map(round, [12.34, 1.33333, 23.12312312]))

{1, 12, 23}

In [21]:
animals= ['lion','tiger','rabbit','panda','pig','giraffe','monkey','kangaroo']
out =list(map(lambda e: e [0],animals))
print(out)

['l', 't', 'r', 'p', 'p', 'g', 'm', 'k']

In [24]:
list(map(lambda e: e[:3], animals))

['lio', 'tig', 'rab', 'pan', 'pig', 'gir', 'mon', 'kan']

In [26]:
fruits= ['apple','banana','cherry','dragon fruit','dates','fig','gooseberry','guava']
print(fruits)
print(len(fruits) == len(animals))

['apple', 'banana', 'cherry', 'dragon fruit', 'dates', 'fig', 'gooseberry', 'guava']
True

In [27]:
# first 3 letter of animal and last 3 of fruit
list(map(lambda a,f: a[:3] + f[-3:], animals,fruits))

['liople',
 'tigana',
 'rabrry',
 'panuit',
 'pigtes',
 'girfig',
 'monrry',
 'kanava']

In [28]:
x,y= [1,2,3] , [3,4,5]
z = list(map(lambda i,j: i+j, x,y))
print(x,y,z, sep='\n')

[1, 2, 3]
[3, 4, 5]
[4, 6, 8]

In [29]:
# filter 
x=[1,-2,-3,4,-5,6]
ans=filter(lambda i: i>0, x)
list(ans)

[1, 4, 6]

In [30]:
list(filter(lambda name: 'a' in name,animals))

['rabbit', 'panda', 'giraffe', 'kangaroo']

In [ ]:
# extract names that dont have small letter 'a' in them
list(filter(lambda name: 'a' not in name,animals))

['lion', 'tiger', 'pig', 'monkey']

In [ ]:
# extract animal names with names > 5 chars
list(filter(lambda e: len(e) > 5, animals))

['rabbit', 'giraffe', 'monkey', 'kangaroo']

In [ ]:
import os
path = 'c:/users/monika/downloads'
list(filter(lambda file: file.endswith('docx'), os.listdir(path)))

In [43]:
class Student:
      def __init__(self,name, marks=[]):
        self.name=name
        self.marks=marks
      def total_marks(self): return sum(self.marks) 
      def __gt__(self,other):
        if isinstance(other,Student):
            return self.total_marks()  > other.total_marks()
        elif isinstance(other,int):
            return self.total_marks() > other
      def __repr__(self):
        return f'Student({self.name},{self.total_marks()})'
def is_passed(marks):
        return marks >200
Students = [
        Student('monika',[23,56,67,20,10]),
        Student('madhuri',[43,86,77]),
        Student('maya',[83,86,87]),
        Student('mini',[53,86,67]),
    ]
list(filter(is_passed, Students))

[Student(madhuri,206), Student(maya,256), Student(mini,206)]