In [15]:


a=20
b=35
print("a =", b)
print("b =", a)

a = 35
b = 20

In [3]:
# take input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")
operations = {
    "+": num1 + num2,
    "-": num1 - num2,
    "*": num1 * num2,
    "/": num1 / num2 if num2 != 0 else "Error: Division by zero"
}
print("Result:", operations.get(op, "Invalid Operator"))

Result: Invalid Operator

In [5]:
num_str = input("Enter a number: ")

# convert to integer
num_int = int(num_str)

# convert to float
num_float = float(num_str)

# print values and their types
print("Integer value:", num_int)
print("Float value:", num_float)

Integer value: 54
Float value: 54.0

In [7]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

# discriminant
d = b**2 - 4*a*c

# square root (works for negative too using complex)
sqrt_d = complex(d) ** 0.5

# roots
root1 = (-b + sqrt_d) / (2*a)
root2 = (-b - sqrt_d) / (2*a)

# output
print("Root 1:", root1)
print("Root 2:", root2)

Root 1: (-0.5217391304347825+0.9026321518272475j)
Root 2: (-0.5217391304347827-0.9026321518272475j)

Using input() and print()

In [1]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, monika
You are from chittoor
You are 20 years old.
Your rate is 15.0

In [3]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "manisha"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: manisha
Name: Alice Age: 22 City: New York

fomatted strings

In [5]:
name = "uma shankar"
age = 22
print(f"{name} is {age} years old.")

uma shankar is 22 years old.

In [6]:
print("{} scored {} marks.".format("Bob", 95))
print("{1} is {0} years old.".format(30, "Charlie"))

Bob scored 95 marks.
Charlie is 30 years old.

THE TEN DATATYPES

In [8]:
x = 10
print(type(x))

<class 'int'>

In [9]:
y = 3.5
print(type(y))

<class 'float'>

In [10]:
z = 1 + 2j
print(type(z))

<class 'complex'>

In [11]:
n = None
print(type(n))

<class 'NoneType'>

In [12]:
s = "Python"
print(type(s))

<class 'str'>

In [13]:
flag = True
print(type(flag))

<class 'bool'>

In [14]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))

<class 'list'>

In [15]:
point = (3, 5)
print(type(point))

<class 'tuple'>

In [16]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))

<class 'set'>

In [17]:
student = {"name": "Alice", "age": 22}
print(type(student))

<class 'dict'>

OTHER IMPORTANT DATATYPES

In [18]:
b = b"Hello"
print(type(b))

<class 'bytes'>

In [19]:
fs = frozenset([1, 2, 3])
print(type(fs))

<class 'frozenset'>

In [20]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))

<class 'collections.OrderedDict'>

In [21]:
from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)

defaultdict(<class 'int'>, {'apple': 1})

In [22]:
from collections import Counter
c = Counter(["apple", "banana", "apple"])
print(c)

Counter({'apple': 2, 'banana': 1})

In [23]:
from collections import deque
d = deque()
d.append(1)
d.appendleft(2)
print(d)

deque([2, 1])

In [24]:
from collections import UserDict
class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
d = MyDict()
d["apple"] = 1
print(d)

{'apple': 1}

In [25]:
from collections import UserList
class MyList(UserList):
    def append(self, item):
        super().append(item)
l = MyList()
l.append(1)
print(l)

[1]

Dynamic Typing & Type Conversions

In [26]:
x = 10      # x is int
x = "ten"   # now x is str
print(type(x))  # <class 'str'>

<class 'str'>

In [27]:
a = 5       # int
b = 2.0     # float
c = a + b   # int + float -> float
print(c)    # 7.0
print(type(c))  # <class 'float'>

7.0
<class 'float'>

In [28]:
a = "5"
b = "2"
c = int(a) + int(b)  # convert strings to int
print(c)  # 7

7

In [29]:
x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(y)

3

In [31]:
a = 5
b = 2
print(a + b)  # TypeError: can only concatenate str (not "int") to str

7

In [36]:
print(int(a) + b)  # 7
print(a+int(b))  # 52

7
7

In [40]:
s = "hello"
n = int()  # ValueError: invalid literal for int() with base 10: 'hello'

In [41]:
s = "abc"
try:
        n = int(s)
except ValueError:
        print("Cannot convert to int!")

Cannot convert to int!

operators types in python

ARITHMETIC OPERATORS

In [42]:
a = 9
b = 5
print(a + b)  
print(a / b)  
print(a // b) 
print(a ** b)

14
1.8
1
59049

RELATIONAL OPERATOR

In [43]:
print(5 > 2)   
print(5 == 2)

True
False

Logical Operators

In [45]:
x = 5
print(x > 2 and x < 10)  
print(not(x == 5))

True
False

BITWISE OPERATOR

In [46]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1)

1
7
6
-6
10
2

ASSIGNMENT OPERATOR

In [47]:
x = 10
x += 5  # x = x + 5
print(x)  # 15

15

MEMBERSHIP OPERATOR

In [48]:
nums = [1, 2, 3]
print(2 in nums)      
print(4 not in nums)

True
True

IDENTITY OPERATOR

In [49]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)

True
False
True

Operator Precedence Table in Python

In [50]:
result = 2 + 3 * 4      # Multiplication has higher precedence: 2 + (3 * 4) = 14
result = (2 + 3) * 4    # Parentheses change the order: (2 + 3) * 4 = 20
result = 2 ** 3 ** 2    # Exponentiation is right-to-left: 2 ** (3 ** 2) = 512
result = 10 - 4 + 2

COMMENTS IN PYTHON

Single-line Comments

In [51]:
print("Hello")

Hello

Multi-line Comments

In [52]:
# This is a
# multi-line comment

'''
This is also a
multi-line comment
'''

'\nThis is also a\nmulti-line comment\n'

Docstrings

In [53]:
def add(a, b):
    """
    Adds two numbers.
    """
    return a + b

Aggregation:

SUM 
COUNT
MIN
MAX
AVG
MEDIAN

Data structures are four types

1.list
2.tuple
3.set
4.dict

1.LIST:

      mutable
      Indexed
      Heterogenous
      Duplicated allowed

      represented by list[],and list()


      x=[1,2,3]
      c=['a','b','c']
      a=[1,'a',2,true,"hello"]
      b=[1,1,1,1]

      Type casting:
      int()
      str()
      bool()
      float()
      list()
      set()
      tuple()
      dict()

1.creation:
x=[]                  #empty
x=list()              #empty
y=[1,2,3,]            #direct intialization

z=[]
z.append('apple")     #adding single value
z append("cherry")
z.append("avacado")

In [1]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [ ]:
# list of duplicates
a=[1]*10 #cloning
print(a)
b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
print(a)  #raw output
# dispalying single item at a time very loop
for item in a:
    print(item)
#single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1