# strings utility methods

In [2]:
# replace
s="once upon a time"
s2=s.replace('once','twice')
print(s,s2)
s3=s.replace('e','l')
print(s3)

once upon a time twice upon a time
oncl upon a timl

In [7]:
# replace for removing a content
data='PY#t#h#o#n'
cleaned_data=data.replace('#',"")
print(data,cleaned_data,sep='\n')

PY#t#h#o#n
PYthon

#find/Index

In [13]:
m="alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))
print(m.find('pine'))
print(m.find('1'))
print(m.find('1',4))

7
-1
2
-1
-1

In [17]:
quote='''life before death,
         courage before despair,
         journey before destination'''
words=quote.split()    # str->list
print(quote)
print(words)
sentences=quote.split(',')
print("sentence")

life before death,
         courage before despair,
         journey before destination
['life', 'before', 'death,', 'courage', 'before', 'despair,', 'journey', 'before', 'destination']
sentence

In [18]:
address=['MBU','sree sainath nagar','tirupathi','AP','517102']
address_str=",".join(address)  #list->str
print(address,address_str,sep='\n')
address2="_".join(address)
address3="\n".join(address)
address4="what".join(address)

['MBU', 'sree sainath nagar', 'tirupathi', 'AP', '517102']
MBU,sree sainath nagar,tirupathi,AP,517102

In [1]:
#Function&modules
n=input('enter value')
if int(n)%2==0:
    print('even')
else:
    print('odd')

odd

functions are divided into 2 types:
 user defined
 pre defined function:
                 1.print()
                 2.input()
                 3.str()
                 4.len()
based on function i/o,4 types of function
1.logic(closed function)
2.parameterized function
3.function returning value
4.parameterized+value returning function

In [1]:
def total (a,b,c):
  ans=a+b+c
  print(f'total = {ans}')

In [2]:
total(10,20,30)

total = 60

In [3]:
total(1,15,13)

total = 29

In [4]:
def mul(a,b):
    print(a*b)

In [5]:
mul(2,3)

6

In [6]:
mul(15,175)

2625

In [7]:
mul(5,15)

75

def hyp(p,b):ans=maths.sqrt(p2+b2)return ans hyp(10,5)

In [10]:
def is_even(num):
     if num%2==0:
        return True
     else:
        return False
is_even(25)

False

In [11]:
x = int(input("enter a num"))
if is_even(x):
    print("good job")
else:
    print("you are strict")

good job

# required parameter

In [13]:
def area(I,b):
    return I*b
ans= area(10,5)
print(ans)

50

# named parameter calls

In [14]:
res=area(I=5,b=13)
print(res)
def si(p,r,t):
    return p*r*t/100
intrest=si(p=10000,r=3.3,t=5)
print(intrest)

65
1650.0

# default parameter

In [16]:
def power(n,e=2):
    return n**e
print(pow(10,3))
print(pow(10,5))

1000
100000

In [ ]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(10)

9

In [22]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(5,4)

9

In [23]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(2,3,5)

10

In [24]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(a=10,c=10,d=2)

22

In [25]:
def adder(a,b=0,c=0,d=0):
    return a+b+c+d
adder(5,4,3,2)

14

In [28]:
def h1():
    print("hola")
    h1()
    def ctof(val):
        f=(val*9/5)+32
        return f

In [2]:
# definition

def greeting():
    print("🌟"*5)
    print("good morning")
    print("🌟"*5)
    greeting()

In [6]:
def dice_roll():
    import random
    out={1:'👍',2:'✌️',3:'👌',4:'✋',5:'👑'}
    value=random.randint(1,5)
    return out.get(value)
print(dice_roll())
print(dice_roll())
print(dice_roll())
print(dice_roll())
print(dice_roll())

✌️
👑
✌️
👑
👌

In [11]:
def is_valid_password(pwd):
    if len(pwd) < 8: return False
    if not pwd.isalnum():return False
    return True
print(is_valid_password("hello"))
print(is_valid_password("helloworld"))
print(is_valid_password("helloworld10"))
print(is_valid_password("3120@1233"))

False
True
True
False

In [10]:
def area(length: int,breadth:int)-> int:
    return length * breadth

l = 12
b = 15
a= area(l,b)
print(f'area = {a}')

area = 180

In [15]:
def cleanText(data,to_remove="@$%"):
    newdata= data
    for char in to_remove:
        newdata= newdata.replace(char,'')
    return newdata  

cText= cleanText("he#ll#o@",to_remove='##@')
print(cText)
cText2=cleanText("h@!()#!)@i",to_remove='@!#()')
print(cText2)

hello
hi

In [18]:
def add100(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z):
    return a+b+c+d+e+f+g+h+i+j+k+l+m+n+o+p+q+r+s+t+u+v+w+x+y+z
add100(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1)

26